{{define "people"}}
{{template "header"}}
{{template "links" .}}

<table id="myDIV">
    <th>Firstname</th>
    <th>Lastname</th>
{{range .MyPersons}}
    <tr><td>{{.Fname}}</td><td>{{.Lname}}</td></tr>
{{end}}
</table>

</body>
</html>

        {{end}}
